In [ ]:
liste=[3,6,2]
s=1
for i in listt :
  s=s*i
print(s)

36

In [ ]:
liste=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
liste.sort()
print(liste)

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [16]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = {}
for i in d2:
  if (i in d1):
      d3[i]=d2[i]+d1[i]
  else:
      d3[i]=d2[i]
for i in d1:
  if (i not in d2):
      d3[i]=d1[i]
print(d3)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [21]:
n=int(input())
d1={}
for i in range(1,n+1):
  d1[i]=i*i
print(d1)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [99]:
liste= (('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5'))
for i in range(len(liste)-1,-1,-1):
  print(liste[i], end=",")

('item3', '24.5'),('item2', '15.10'),('item1', '12.20'),