# Rectify the code in each cell and **explain the error in comments**

### index error

In [1]:
mylist=[14, "hello", 967]
mylist[2]
#6 is invalid and out of range

967

In [ ]:
import pandas
import numpy
#Module name contains an uppercase letters

ImportError: ignored

# syntax error

In [4]:
print("python errors")
#missing parentheses and print function had an uppercase letter

python errors

# key error

In [5]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]
#True is a key and not a string

'hello'

# indentation error

In [6]:
i=14
while i<78:
  print(i)
  i+=1
#indented block is missing for while loop

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# StopIteration

In [7]:

it=iter([1,2,3])
next(it)
next(it)
next(it)
#the fourth next is not found

3

# TypeError

In [9]:
15+15
#Cannot sum two different type

'1515'

# ValueError

In [10]:
int('5')
#'python' cannot be converted to an integer

5

# NameError

In [11]:
print
#python name is not found

# ZeroDivisionError

In [12]:
x=19/3
#division by zero is invalid